.shop-header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  
}

.shop-header .logo {
  font-family: "Playfair Display", Georgia, serif;
  font-size: 2.5rem;
  padding-left: 1rem;
  text-decoration: none;
}

.shop-header .shopping-cart {
  align-self: center;
  font-size: 1rem;
  padding-right: 1rem;
  color: rgb(104, 127, 128);
  fill: rgb(104, 127, 128);
  text-decoration: none;
}
.shop-header .shopping-cart:hover {
  color: #006894;
  fill: #006894;
  text-decoration: none;
}

.shop-header .shopping-cart .cart-icon {
  margin-left: 10px;
  font-size: 1.2rem;
}